<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunpeng.framework.modules.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kunpeng.framework.modules.user.po.UserPO">
        <id column="user_id" property="userId" />
        <result column="create_date" property="createDate" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_date" property="updateDate" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="job_number" property="jobNumber" />
        <result column="real_name" property="realName" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="phone_number" property="phoneNumber" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
        <result column="status" property="status" />
        <result column="user_status" property="userStatus" />
        <result column="id_card" property="idCard" />
        <result column="entry_date" property="entryDate" />
        <result column="official_date" property="officialDate" />
        <result column="dimission_date" property="dimissionDate" />
        <result column="source" property="source" />
        <result column="login_ip" property="loginIp" />
        <result column="login_date" property="loginDate" />
        <result column="lock_date" property="lockDate" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 表字段结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, password, job_number, real_name, nick_name, email, phone_number, sex, avatar, status, user_status, id_card, entry_date, official_date, dimission_date, source, login_ip, login_date, lock_date, remark
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_Common_List">
        create_date, create_user_id, create_user_name, update_date, update_user_id, update_user_name, delete_flag
    </sql>

</mapper>
