<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunpeng.framework.modules.dept.mapper.customer.DeptCustomerMapper">

    <select id="queryDepeSubsetId"  parameterType="string" resultType="java.lang.String">
        WITH RECURSIVE dept_tree AS
        (
            SELECT dept_id FROM auth_dept WHERE dept_id = #{deptId}
            UNION ALL
            SELECT d.dept_id FROM auth_dept d INNER JOIN dept_tree dt ON d.parent_id = dt.dept_id
        )
        SELECT * FROM dept_tree;
    </select>
</mapper>
