<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kp.framework.modules.system.mapper.ObjectChangeLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kp.framework.modules.system.po.ObjectChangeLogPO">
        <id column="uuid" property="uuid" />
        <result column="create_date" property="createDate" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_date" property="updateDate" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="project_name" property="projectName" />
        <result column="class_name" property="className" />
        <result column="identification" property="identification" />
        <result column="operate_type" property="operateType" />
        <result column="business_type" property="businessType" />
        <result column="change_body" property="changeBody" />
        <result column="url" property="url" />
        <result column="clinet_ip" property="clinetIp" />
        <result column="phone" property="phone" />
        <result column="serial" property="serial" />
        <result column="parameter" property="parameter" />
    </resultMap>

    <!-- 表字段结果列 -->
    <sql id="Base_Column_List">
        uuid, project_name, class_name, identification, operate_type, business_type, change_body, url, clinet_ip, phone, serial, parameter
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_Common_List">
        create_date, create_user_id, create_user_name, update_date, update_user_id, update_user_name, delete_flag
    </sql>

</mapper>
